*{
	font-family: "Georgia";
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  height: auto;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center center;
}
html,body{
	width: 100%;
	padding: 0;
	margin: 0;
}
#map{
	width: 1000px;
	height: 750px;
	margin: 0 auto 0 auto;
  	position: absolute;
  	left: 0;
  	right: 0;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	border: solid black;
	background-image: url(../img/map.jpg);
	background-size: contain;
}
.pin{
	height: 15px;
	width: 15px;
	background-color: red;
	border-radius: 50%;
}
.tooltip{
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 2px;
	border: solid lightgrey;
}
.tooltip li{
	list-style-type: square;
}
h3{
	text-align: center;
	display: none;
}